<h1><%= @cocktail.name %></h1>

<p>Add an ingredient and it's dosage</p>

<% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
  <%= link_to "Remove", dose_path(dose), method: :delete %>
<% end %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Back to list of cocktails!", cocktails_path %>
